cloudpickle>=1.6
numpy>=1.20
torch>=1.7.1
pandas>=1.2
portalocker>=2.2
pytest>=6.2
aljpy==0.7
requests>=2.25
bokeh>=2.3
matplotlib>=3.3
scipy>=1.6
av>=8
loky>=1.6
sqlalchemy>=1.4
plotnine>=0.7
git+https://github.com/Lezcano/geotorch/